@font-face {
    font-family: "Inter";
    src: url(../assets/fonts/Inter-VariableFont_slnt\wght.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: 400;
}

p,
li,
ul {
    margin: 0;
    padding: 0;
}

main {
    background-color: hsl(0, 0%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.social-links-card {
    background-color: hsl(0, 0%, 12%);
    min-width: 200px;
    width: 20vw;
    padding: 40px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-image {
    border-radius: 50%;
    margin-bottom: 32px;
}

.name {
    font-size: 1.7em;
    letter-spacing: 0.8px;
    margin-bottom: 10px;
}

.geo {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    margin-bottom: 28px;
}

.description {
    margin-bottom: 25px;
}

.links-list {
    width: 100%;
    text-align: center;
}

.social-item {
    list-style-type: none;
    margin-bottom: 16px;
}

.social-link {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 20%);
    width: 100%;
    padding: 15px 0px;
    border-radius: 8px;
}

.social-item:last-child {
    margin-bottom: 0;
}

.attribution {
    min-height: 10vh;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link:hover {
    color: hsl(0, 0%, 20%);
    background-color: hsl(75, 94%, 57%);
}
